.gigCard{
    width: 324px;
    height: 370px;
    border: 1px solid lightgray;
    margin-bottom: 25px;
    
    .img{
        width: 100%;
        height: 50%;
        object-fit: cover;
    }
    .info{
        padding: 10px 20px;
        display: flex;
        flex-direction: column;
        gap: 15px;

        .user{
            display: flex;
            align-items: center;
            gap: 10px;

            img{
                width: 26px;
                height: 26px;
                border-radius: 50%;
            }
        }
        .star{
            display: flex;
            align-items: center;
            gap: 5px;

            img{
                width: 14px;
                height: 14px;
            }
        }
    }

    .details{

    }
}